.box{
    height: 600px;
    width: 300px;
    position:relative;
    top:200px;
    margin: auto;
    background-image: url(./thiep.png) ; 
    background-size: cover;
}
.bia{
    background-image: url(./thiep.png); 
  height: 550px;
    width: 300px;
    position: absolute;
    bottom:0px;
    background-size: cover;
    z-index:2
}
.nap{
    position: relative;
    border-left:150px solid transparent;
    border-right:150px solid transparent;
    border-top:100px solid #931f1f;
   transform-origin: top;
   cursor: pointer;
   z-index:2
}

@keyframes open{
    from{
        transform:rotateX(0deg)
    }
    to{
        transform:rotateX(180deg)
    }
}
@keyframes push-up {
    from{
        top: 0px;
    }
    to{
        top:-200px;
    }
    
}

@keyframes disappeared {
    from{opacity:1}
    to{opacity:0}
}

@keyframes sizeup {
    from{
        height: 200px;
        width: 300px;;
    }
    to{
        width:500px;
        height:500px;
    }
}
/*     animation: open linear 2s; */

.li-xi{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 300px;;
    background-image:url(https://img.freepik.com/free-photo/white-paper-texture_1194-5416.jpg?w=360);
    z-index:0;
    margin:auto
}